<launch>
    <arg name="world_file" default="$(find depth_camera_sim)/worlds/empty.world"/>
  
    <param name="robot_description" command="$(find xacro)/xacro '$(find depth_camera_sim)/urdf/rgbd_camera.urdf'" />
  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" type="string" value="" />
    </node>
  
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model depth_camera -x 0 -y 0 -z 1.0" />
  
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_file)" />
    </include>
  </launch>
  